@{
    ViewBag.Title = "TechTrove Laptops";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">TechTrove Laptops</h1>
        <p class="lead">TechTrove Laptops: Your Ultimate Destination for Cutting-Edge Computing</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

   
</main>